[core]
  excludesfile = ~/.gitignore_global
  editor = code --wait

[alias]
  amend = commit --amend --reuse-message=HEAD
  br = branch
  ci = commit
  co = checkout
  contrib = shortlog --summary --numbered
  cr = clone --recursive
  df = diff --word-diff
  g = grep --break --heading --line-number
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ld = "!sh -c \"git log --since '${1:-1} days ago' --oneline --author $(git config user.email)\" -"
  lg = log -p
  ll = log --pretty=oneline --graph --abbrev-commit
  lm = log --pretty=format:'* %s (%h)'
  patch = !git --no-pager diff --no-color
  p = push
  pf = push --force
  st = status
  stl = ls-files -m -o --exclude-standard
  sts = status -sb
  unstage = reset --hard HEAD